@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import "https://unpkg.com/water.css@2/out/water.min.css";

body {
    font-size: 1em;
}

section {
    display: flex;
}
.container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

:root {
    --links: #ddc4c4;
    --background-body: #343137;
}

.containerTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #262644;
    border-radius: 999px;
    text-decoration: none;;
}

a {
    padding: 0.2em;
    font-weight: bold;
    font-size: large;
}

a:hover {
    color: #171519;
    font-size: 28px;
}